@model IEnumerable<WeBills.Models.Residence>

@{
    ViewBag.Title = "Index";
}

<h2 class="mt-4">Residence(s)</h2>

<p>
    @Html.ActionLink("Add New", "Create")
</p>
@*<div class="container">
    <div class="row">
        <div class="card col-4">
            <div class="card-img"></div>
            <div class="card-header"> House 1</div>
            <div class="card-body"> Pietermaritzburg</div>
            <div class="card-footer">2019</div>
        </div>     
        <div class="card col-4">sdfsdfsdfsdfsdf</div> 
        <div class="card col-4">sdfsdfsdfsdfsdf</div> 
    </div>
</div>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.users.gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.citytown)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.surbub)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Street)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.code)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.img)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.users.gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.citytown)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.surbub)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Street)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.code)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.img)
        </td>*@
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.homeid }) |
            @Html.ActionLink("Details", "Details", new { id=item.homeid }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.homeid }) |
            @Html.ActionLink("ManageRes", "ManageRes", new { id = item.homeid })
        </td>
    </tr>
}

</table>
